//Home PAGE CONTENT

.carousel {
    object-fit: cover;
    border-radius: 15px;
    width: 100%;
    height: 50vh;
   
}

.logo{
    width: 80px;
    height: 80px;
    padding: 10px;
}
.card-body{
    position: relative;
}
.rating {
    margin: 0;
    font-size: 22px;
    overflow: hidden;
    color: #ea4034;
}
.rating input {
    float: right;
    opacity: 0;
    position: absolute;
}

.rating label {
    float: left;
    color: #000000;
    text-decoration: none;
    -webkit-transition: color .4s;
    -moz-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
}
.rating label:hover {
    color: #fb802d;
    cursor: pointer;
}

.iframe-link{
    flex: 0 0 1;
    margin: 0 10px;
    color:#fff;
  }
.link-logo {
color: #000000;
}